<h4 class="text-center m-3">Add A Todo</h4>
<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Enter Todo Title</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Enter Todo Description</label>
    <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="desc" />
  </div>
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
