<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold">About Me</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
          rerum soluta architecto ad culpa repellendus excepturi reiciendis
          doloribus sed dignissimos quidem reprehenderit non aperiam eos
          accusantium quaerat possimus, quasi labore necessitatibus eius
          corporis!
        </p>
      </div>
      <div class="container">
        <p align="center">
          <a
            href="https://linkedin.com/in/arijit-paria-0234261b7"
            target="blank"
            ><img
              align="center"
              src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
              alt="arijit-paria-0234261b7"
              height="30"
              width="40"
          /></a>
          <a href="https://instagram.com/arijitparia_" target="blank"
            ><img
              align="center"
              src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg"
              alt="tutoriex_"
              height="30"
              width="40"
          /></a>
          <a
            href="https://www.youtube.com/channel/UCtT5S9Nyrs5jQOdruFObx5w"
            target="blank"
            ><img
              align="center"
              src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg"
              alt="tutoriex"
              height="30"
              width="40"
          /></a>
          <a href="https://www.facebook.com/arijitparia2002/" target="blank"
            ><img
              align="center"
              src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg"
              alt="tutoriex"
              height="30"
              width="40"
          /></a>
          <a href="https://in.pinterest.com/arijitparia2020/" target="blank"
            ><img
              align="center"
              src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/pinterest.svg"
              alt="tutoriex"
              height="30"
              width="40"
          /></a>
        </p>
      </div>
    </div>
  </section>
</main>
